{% extends "layout.jinja2" %}

{% block content %}
<table>
    {% for appetizer in appetizers %}
    <tr>
        <td>{{ appetizer.name }}{% for i in range(appetizer.spiciness) %}*{% endfor %}</td>
        <td>${{ appetizer.cost }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}