{% extends "layout.jinja2" %}

{% block content %}
<table>
    {% for drink in drinks %}
    <tr>
        <td>{{ drink.name }}</td>
        <td>${{ drink.cost }}</td>
        <td>{{ drink.proof / 2 }}% ABV</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}