{% extends "layout.jinja2" %}

{% block content %}
<table>
    {% for entree in entrees %}
    <tr>
        <td>{{ entree.name }}{% for i in range(entree.spiciness) %}*{% endfor %}</td>
        <td>${{ entree.cost }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}