<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://use.fontawesome.com/4d0cb8d848.js"></script>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ request.route_url('home') }}">Home</a></li>
      <li><a href="{{ request.route_url('appetizers') }}">Appetizers</a></li>
      <li><a href="{{ request.route_url('entrees') }}">Entrees</a></li>
      <li><a href="{{ request.route_url('drinks') }}">Drinks</a></li>
    </ul>
  </nav>
  {% block content %}{% endblock %}

</body>
</html>